@media only screen and (max-width: 600px) {
  .description img {
    float: none;
    margin: 0 auto;
    display: block;
  }
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  margin-bottom: 250px;
  /* footerの高さ */
  padding: 1em 0 10em 0;
  min-height: 100vh;
}

img {
  width: 50%;
  height: 50%;
  margin: 48px 0 0 0;
  vertical-align: middle;
  background-color: rgba(26, 55, 229, 0.05);
}

header {
  background-color: #00896B;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

header h1 {
  margin: 0;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  font-family: 'Russo One', sans-serif;
}

.photo {
  text-align: center;
}

.title {
  padding-top: 10px;
  text-align: center;
}

.title h2 {
  font-size: 45px;
  font-family: 'Russo One', sans-serif;
}

.shoku h3 {
  font-family: 'Russo One', sans-serif;
}

.aboutme {
  padding-top: 453px;
}

.aboutme h2 {
  font-size: 45px;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

.aboutme.keireki {
  font-family: 'Asap', sans-serif;
  font-size: 29px;
}

.ginou p2 {
  font-family: 'Asap', sans-serif;
  font-size: 15px;
  padding-top: 20px;
}
.contact p3{
  font-size: 15px;
  font-family: 'Asap', sans-serif;
}
